.homebody {
	text-align: center;
	/*background-color: #30C9E9;*/
	background: linear-gradient(to bottom right, #30C9E9, #B2FFF8);
	background-size: cover;
	height: 90%;	
	min-height: 750px
}
.completedbody{
	text-align: left;
	background: linear-gradient(to bottom right, #30C9E9, #B2FFF8);
	background-size: cover;
	height: 90%;	
	min-height: 750px
}
.completedtext{
	margin-left: 100px;
	margin-right: 100px;
}
.completedheader{
	margin: 0;
	padding-top: 50px;
	text-align: center;
}
.fixed-bottom{
	position: absolute;
	bottom:0;
}
ul {
	list-style: none;
}
#loginpage{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.taskpanel{
	border: 1px solid rgb(150, 221, 214);
	background: linear-gradient(to bottom right, #30C9E9, #B2FFF8);
	border-radius: 15%;
	width: 250px;
	height: 250px;
	padding:20px !important;
	margin: 20px;
}
#click {
	color:black !important;
}
#click:hover{
	color: #848484 !important;
	text-decoration: none !important;
	cursor: pointer;
}
#rightpanel{
/*	display:flex;
	flex-flow: flex-wrap;*/
	height: 85vh;
	/*justify-content: flex-end;*/
}
.alltasks {
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	/*justify-content: space-between;*/
}
a:visited{
	color: black !important;
}
a:link {
	color: black !important;
}
a:active{
	color: black !important;
}
a:hover {
	color: #848484 !important;
	text-decoration: none !important;
	cursor: pointer;
}
#headline {
	margin-top: 0px !important; 
	padding-top: 300px;
}
.classgrid{
	margin: 225px 10vw;
}
.leftlink{
	margin-top: -17px !important;
}
.rightlink{
	margin-top: -10px !important;
	font-size: 25px;
}
#descrip{
	padding-top: 150px;
	margin-top: 0px !important;
	text-align: center;
}
.homedescript {
	height: 90%;
	min-height: 750px;
	background-color: #F8F8FA;
}
#foot{
	margin-left: 20px;
	margin-top: 10px;
	height: 30px;
}

#leftpanel {
	height: 85vh;
	background: linear-gradient(to bottom right, #30C9E9, #B2FFF8);
	/*background-color: #30C9E9;*/
	/*color: white;*/
/*	border-right-color: 1px solid black !important;*/
}
.newProjectForm {
	display:flex;
	flex-direction: column;
	width: 200px;
	color: black !important;
}
.submitform{
	width: 100px;
}
.newProjectForm{
	margin-top: 10px;
}
.projectslist{
	margin-top: 20px;
	margin-bottom: 30px;
	color:black !important;
}
.projectscontent{
	display:flex;
	margin-top: 20px;
	margin-bottom: 30px;
	justify-content: flex-start;
	align-content: flex-start;
}
.navbar-right {
	margin-right: 200px !important;
	margin-top: 20px !important;
}
.navbar {
	height: 75px !important;

}
.navbar-brand{
	margin: 10px 200px 0px 200px;
}
.testing{
	height: 100vh;
	width: 75vw;
}
#ongoing{
	margin-top: 30px;
}
#completed{
	margin-top:30px;
}
.navbar-header {
	color: #30c9e8 !important;
}
.navbar-main {
	background-color: transparent !important;
	border-bottom: none !important;
}
.slide {
    -webkit-transition: -webkit-transform .7s ease-in-out;
    -moz-transition: -moz-transform .7s ease-in-out;
    -o-transition: -o-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide.ng-enter {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide.ng-enter.ng-enter-active, .slide.ng-leave {
    position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}