<header class="homebody">
	<div class="hometag">
		<h1 id="headline">Manage your Projects</h1>
	</div>
	<div class="home">
		<h3>and keep track of deadlines</h3>
	</div>
	<br/>
	<form class="signin">
		<button class="btn btn-default btn-lg" ui-sref="login">Log In</button>
		<button class="btn btn-default btn-lg" ui-sref="login">Sign Up</button>
	</form>
</header>
<!-- <div class="homedescript">
	<div class="classheader">
		<h1 id="descrip">Use PRJKT to:</h1>
	</div>
	<div class="classgrid">
		<div class="col-md-4 revealOnScroll" data-animation="fadeIn" data-timeout="400">
			<span>Identify priority items in your project and make sure they are completed on time</span>
		</div>
		<div class="col-md-4 revealOnScroll" data-animation="fadeIn" data-timeout="800">
			<span>Assign team members to specific items for thorough task completion and accountability</span>
		</div>
		<div class="col-md-4 revealOnScroll" data-animation="fadeIn" data-timeout="1200">
			<span>Move tasks along along their timelines to make sure they are on schedule for completion</span>
		</div>
	</div>
</div>
<div class="homebody">
	
</div> -->