<div class="projectsbody container-full anim-slide-right">
	<div class="col-md-2" id="leftpanel">
		<div class="projectslist">
			<a ng-click="show=!show"><button class="addnew btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></a>
			<label>Start a New Project</label>
			<form class="newProjectForm animated bounceInLeft" ng-show="show">
					<input placeholder="Project Title" ng-model="project.title"/>
					<input placeholder="Project Owner" ng-model="project.owner"/>
					<input type="date" ng-model="project.doc"/>
					<select>
						<option value="lol" disabled>Primary team</option>
						<option value="Devs">Devs</option>
						<option value="Business Analysis">Business Analysis</option>
					  	<option value="Project Management">Project Management</option>					  	
					  	<option value="Other">Other</option>
					</select>
					<textarea placeholder="Description" ng-model="project.description"></textarea>
					<button type="submit" class="submitform" ng-click="addProject(project)">Click me</button>
			</form>
			<h4 id="ongoing">Ongoing projects</h4>
			<ul ng-repeat="project in projects track by $index" id="listofprojects">
				<li><a ng-click="loadProject(project._id)" id="click">{{project.title}}</a></li>	
				<button ng-click="yes=!yes" class="deleteProject">Delete</button>					
				<button ng-click="changeProjectStatus(project._id)" class="changeProjectStatus">Completed</button>
				<br><br>
				<form ng-show="yes">
					Are you sure?
					<button ng-click="deleteProject(project._id)">Yes</button>
					<button ng-click="yes=!yes">No</button>
				</form>
			</ul>
			<h4 id="completed">Completed projects</h4>
			<ul ng-repeat="complete in completed">
				<li><a ui-sref="completed({id:complete._id})">{{complete.title}}</a></li>
			</ul>
		</div>		
	</div>
	<div class="col-md-9" id="rightpanel">
	<h2>{{active.title}}</h2>
	<h4>Estimated date of completion: {{active.doc}}</h4>
		<div class="projectslist">			
			<a ng-click="hide=!hide"><button class="addnew btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></a>
			<label>Start a New Task</label>
			<form class="newTaskForm" ng-show="hide">
					<input placeholder="Task Title" ng-model="task.title"/>
					<input placeholder="Task Owner" ng-model="task.owner"/>
					<input type="date" ng-model="task.doc"/>					
					<button type="submit" class="submitform" ng-click="addTask(task)">Let's start!</button>
			</form>
		</div>
		<div class="alltasks">
			<ul ng-repeat="task in tasks" class="taskpanel">
				<li>Task: {{task.title}}</li>
				<li>Date Due: {{task.doc}}</li>
				<li>Whose responsibility? {{task.owner}}</li>
				<button ng-click="yes=!yes" class="deleteProject">Delete</button>					
				<button ng-click="changeTaskStatus(task._id)" class="changeTaskStatus">Completed</button>
				<br><br>
				<form ng-show="yes">
					Are you sure?
					<button ng-click="deleteTask(task._id)">Yes</button>
					<button ng-click="yes=!yes">No</button>
				</form>
				<i class="fa fa-check fa-3x" id="check" ng-hide="completedTask"></i>
				<!-- <button ng-click="deleteTask(task._id)">delete</button> -->
			</ul>
		</div>	
	</div>
</div>